@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  #footer {
    height: 160px;
    position: relative;
    @include mobile {
      height: 190px;
    }

    .link {
      display: block;
      color: $color-white;
      text-decoration: none;
      padding: rem(8px) 0;
      line-height: $line-height-lg;
      &:first-child {padding-top: 0;}
      &:last-child {padding-bottom: 0;}
    }
    .logo {
      width: 100%;
      max-width: rem(190px);
    }

    .footer-camposanto {
      display: flex;
      justify-content: space-between;
      padding-top: 43px;

      @include mobile {
        padding-top: 48px;
        flex-direction: column;
      }

      &__text {
        color: #4F4F4F;
        font-size: 16px;
        @include mobile {
          order: 2;
          padding-top: 53px;
          text-align: center;
        }
      }
      &__links {
        $espaciado: 12px;
        display: block;
        text-align: right;
        padding: 0;
        margin: -$espaciado 0 0 -$espaciado;
        width: calc(100% + #{$espaciado});

        > * {
          margin: $espaciado 0 0 $espaciado;
        }

        @include mobile {
          $espaciado: 20px;
          order: 1;
          text-align: center;
          margin: -$espaciado 0 0 -$espaciado;
          width: calc(100% + #{$espaciado});

          > * {
            margin: $espaciado 0 0 $espaciado;
          }
        }

        &__item {
          list-style: none;
          display: inline-block;
        }

        &__link {
          height: 20px;
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: peru;
          img {
            display: block;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
      &__triangle {
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
        display: block;
        width: 105px;
        @include mobile {
          width: 60px;
        }
      }
    }
  }
}
