<footer #footer id="footer" class="footer" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="footer-camposanto">
      <div class="footer-camposanto__text">
        MAPFRE Todos los Derechos Reservados
      </div>
      <ul class="footer-camposanto__links">
        <li class="footer-camposanto__links__item">
          <a href="#" class="footer-camposanto__links__link">
            <img src="assets/images/footer-instagram.svg" alt="">
          </a>
        </li>
        <li class="footer-camposanto__links__item">
          <a href="#" class="footer-camposanto__links__link">
            <img src="assets/images/footer-facebook.svg" alt="">
          </a>
        </li>
        <li class="footer-camposanto__links__item">
          <a href="#" class="footer-camposanto__links__link">
            <img src="assets/images/footer-twitter.svg" alt="">
          </a>
        </li>
        <li class="footer-camposanto__links__item">
          <a href="#" class="footer-camposanto__links__link">
            <img src="assets/images/footer-youtube.svg" alt="">
          </a>
        </li>
        <li class="footer-camposanto__links__item">
          <a href="#" class="footer-camposanto__links__link">
            <img src="assets/images/footer-linkedin.svg" alt="">
          </a>
        </li>
      </ul>
      <img class="footer-camposanto__triangle" src="assets/images/footer-triangle.svg" alt="">
    </div>
  </div>
</footer>
