.fz-12 {font-size: rem(12px)}
.fz-14 {font-size: rem(14px)}
.fz-16 {font-size: rem(16px)}
.fz-18 {font-size: rem(18px)}
.fz-20 {font-size: rem(20px)}
.fz-22 {font-size: rem(22px)}
.fz-24 {font-size: rem(24px)}
.fz-32 {font-size: rem(32px)}
.fz-40 {font-size: rem(40px)}

.fw-600 {font-weight: 600;}
.fw-900 {font-weight: 900;}

.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}

.text-primary {color: $color-primary}
.text-second {color: $color-second}
.text-white {color: $color-white}
.text-dark {color: $color-dark}
.text-gray {color: $color-gray}
.text-gray-light {color: $color-gray-light}

.bg-primary {background-color: $color-primary}
.bg-second {background-color: $color-gray-bold}

.float-left {float: left!important;}
.float-right {float: right!important;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.justify-center{justify-content: center;}



.pay-card {
  width: 100%;
  padding: 0 rem(10px);
  &.md {
    max-width: rem(70px);
  }
  &.lg {
    max-width: rem(100px);
  }
}

.row {
  &.s-pd{
    > div {
      &:first-child {
        @include mobile { padding-bottom: rem(24px); }
      }
    }
  }
}

.card-close {
  position: relative;
  .mat-icon {
    position: absolute;
    top: rem(-4.8px);
    right: rem(-14px);
    @include fontFace(null, 500, 28px, rgba(0, 0, 0, 0.45));
    cursor: pointer;
    width: auto;
    height: auto;
  }
}

.accordion-header-align {
  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    align-items: center;
  }
  .mat-expansion-panel-header-description {
    flex-grow: 0;
  }
}

.mat-list-base {
  .mat-list-item .mat-list-item-content {padding: 0 !important;}
  .mat-list-item .mat-list-icon {height: 18px !important; width: 18px !important; font-size: 18px !important; cursor: pointer;}
  .mat-list-item {
    height: rem(32px) !important;
    &.mat-list-item-with-avatar {height: auto !important;padding-bottom: 8px;}
  }
  .mat-list-item .mat-line {white-space: normal;}
  @include mobile {padding-top: rem(0px) !important;}
}

.list {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  @include desktop {font-size: rem(14px) !important;}
  @include medium {font-size: rem(14px) !important;}
  @include mobile {font-size: rem(12px) !important;}
  .list-title {
    width: 50%;
    align-items: center;
    display: flex;
  }
  .list-text {
    width: 50%;
    font-weight: 600;
    &.right {text-align: right;word-break: break-word;word-wrap: break-word}
    &.red {color: $color-primary}

    @include medium {width: auto;}
    @include mobile {width: auto;}
  }
}

.dialog-close {
  position: relative;
  .mat-icon {
    position: absolute;
    top: rem(-14px);
    right: rem(-14px);
    @include fontFace(null, 500, 28px, rgba(0, 0, 0, 0.45));
    cursor: pointer;
    width: auto;
    height: auto;
  }
}
.dialog-title {
  margin: 0 0 rem(16px);
  display: block;
  font-weight: 600;
}
.dialog-content {
  display: block;
  max-height: 65vh;
  overflow: auto;
}
.dialog-actions {
  padding: rem(16px) 0 0;
  display: flex;
  flex-wrap: wrap;
  min-height: rem(52px);
  align-items: center;
}

.btn {
  line-height: rem(40px)!important;
  border-radius: rem(14px)!important;
  &.btn-sm {padding: 0 2rem;}
  &.btn-md {padding: 0 3.5rem;}
  &.btn-lg {padding: 0 5rem;}
  &.btn-xl {padding: 0 3rem;}
  &.btn-block {width: 100%;}
  &.add {
    border: 1px solid $color-primary;
    box-sizing: border-box;
    border-radius: rem(16px) !important;
    font-weight: 600;
  }

  @include mobile { &.btn-xl {width: 100%;} }
  @include desktop { &.btn-xl {padding: 0 7.5rem;} }
}

.btn-fix{
  @include mobile {
    position: fixed !important;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    border-radius: 0 !important;
  }
}

.display-flex {
  display: flex !important;
  align-items: center;
}

.mat-form-field {width: 100%}

.plan-card {
  border: 1px solid $color-white-line;
  border-radius: rem(8px);
  background: $color-white-bold;
  padding: rem(14px) rem(24px);
  color: $color-primary;
  .plan-subtitle {
    @include fontFace(null,600,14px);
    margin: 0;
  }
  .plan-title {
    @include fontFace(null,900,20px);
    margin: 0;
  }
  .plan-price {
    @include fontFace(null,900,28px);
    margin: 0;
  }
}

.tooltip-red {
  background: $color-primary;
  font-size: 13px;
  max-width: 200px !important;
  overflow: visible !important;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: -15px;
    top: 13px;
    bottom: auto;
    border-right: 16px solid $color-primary;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 99;
  }
}

.mat-select-value{
  overflow: visible !important;
}

.pageError{
  box-sizing: border-box;
  padding: 40px 0 60px 0;
  h3 { font-size: 30px;}
  p { color: $body-text-color; max-width: 280px;}
  .serverError-img,
  .notFound-img,
  .unAuthorized-img {
    width: 100%;
    max-width: 200px;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-select-value-text {
  display: block;
}

.cemetery__tabs {

  .mat-tab-labels {
    background: peru;
    color: peru;
  }
}

