@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontFace($family: null, $weight: null, $size: null, $color: null, $background: null) {
  @if $family != null {
    font-family: $family;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $size != null {
    font-size: rem($size);
  }
  @if $color != null {
    color: $color;
  }
  @if $background != null {
    background-color: $background;
  }
}

@mixin box-shadow($val...) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}

@mixin mobile {
  @media (min-width: #{$device-xs + 1px}) and (max-width: #{$device-sm}) {
    @content;
  }
  @media (max-width: #{$device-xs}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$device-sm + 1px}) and (max-width: #{$device-md}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$device-xl}) {
    @content;
  }
  @media (min-width: #{$device-md + 1px}) and (max-width: #{$device-lg}) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: #{$device-xl}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$device-md + 1px}) and (max-width: #{$device-lg}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$device-sm + 1px}) and (max-width: #{$device-md}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$device-xs + 1px}) and (max-width: #{$device-sm}) {
    @content;
  }
}

@mixin extra-small {
  @media (max-width: #{$device-xs}) {
    @content;
  }
}
