$body-bg-color: #FFFFFF;
$body-text-color: #666666;
$font-main: Roboto, "Helvetica Neue", sans-serif;

$primary: #05579e;
$primary-light: #0665b7;
$primary-dark: #002f6f;
$accent: #f6b024;
$accent-light: #ffe25b;
$accent-dark: #be8100;
$warn: #f44336;
$warn-light: #ffcdd2;
$warn-dark: #d32f2f;

$white: #ffffff;

$color-wsp: #15B446;
$color-white: #FFFFFF;
$color-dark: #000000;
$color-gray: #979797;
$color-white-light: #E5E5E5;
$color-white-bold : #FFF4F4;
$color-white-line : #FDCFCE;
$color-gray-light: #CCCCCC;
$color-gray-bold: #4C4C4C;

$color-primary: #FF0A00;
$color-second: #52565B;

$height-header: 60px;
$height-footer: 112px;

$line-height: 1;
$line-height-md: 1.2;
$line-height-lg: 1.4;
$line-height-xl: 1.8;

$font-size: 1rem;
$font-size-md: 1.17rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

$device-xs: 575px;
$device-sm: 767px;
$device-md: 991px;
$device-lg: 1199px;
$device-xl: 1200px;
