@include mat-core();

$mf-primary: mat-palette($mat-indigo);
$mf-accent: mat-palette($mat-pink, A200, A100, A400);
$mf-warn: mat-palette($mat-red);

$mf-theme: mat-light-theme($mf-primary, $mf-accent, $mf-warn);

@include angular-material-theme($mf-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-main;
  background-color: $body-bg-color;
  color: $body-text-color;
}
