<div class="container">
  <h2>CAMPOSANTO HUACHIPA</h2>
</div>

<mat-tab-group animationDuration="0ms" class="cemetery__tabs">
  <mat-tab label="First">
    <mf-cemetery-info></mf-cemetery-info>
  </mat-tab>
  <mat-tab label="Second">
    <mf-cemetery-space></mf-cemetery-space>
  </mat-tab>
</mat-tab-group>


