<div [class]="showSpinner ? 'visible spinner center' : 'hidden spinner center'"></div>
<div id="loading-spinner-text" class="loading-spinner-text" [style.zIndex]="zIndex"
     [class]="showSpinner ? 'visible loading-text' : 'hidden loading-text'">
  <lottie-animation-view
    [options]="lottieConfig"
    [width]="300"
    [height]="300"
    (animCreated)="handleAnimation($event)">
  </lottie-animation-view>
</div>
