@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  .title {
    span {
      display: block;

      &:first-child {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 8px;
      }

      &:last-child {
        font-weight: 500;
        font-size: 30px;
      }
    }
  }

  .crypt{

    &-container {
      text-align: center;
    }

    &__description {
      margin: 35px 0;
      font-size: 14px;
      color: #4F4F4F;
      font-weight: 300;
      &--text {
        background: #F4F5F6;
        padding: 35px 0;
        margin: 0;
        text-align: center;
        line-height: 2.5;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      color: #4F4F4F;
      &--list {
        text-align: left;
        margin-bottom: 30px;
        &::marker {
          margin: 0 .5rem 0 0;
          color: #D22D2D;
        }
      }
    }

    &__values {
      list-style-position: inside;
    }

    &__button {
      display: inline-block;
      width: 230px;
      height: 50px;
      line-height: 50px;
      border-radius: 40px;
      border: 1px solid #D22D2D;
      background: #D22D2D;
      color: #fff;
      transition: all .5s;
      cursor: pointer;
      text-decoration: none;
      margin: 53px 0 190px 0;
      &:hover {
        background:  #fff;
        color:#D22D2D;
      }
    }

    mat-icon{
      padding: rem(9px) rem(9px);
      border-radius: 40px;
      &.message {
        width: 66px;
        height: 66px;
        font-size: rem(50px);
        @include mobile { width: 48px; height: 48px; font-size: rem(33px); }
      }
    }

    &__cover {
      display: block;
      width: 100%;
      height: auto;
    }


  }

  .services {
    padding: 46px 0;

    @include mobile {
      padding: 20px 50px;
      > .container {
        padding: 0;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 50px;

      @include mobile {
        text-align: center;
        margin-bottom: 33px;
      }
    }

    .service {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;

      &__icon {
        width: 22px;
        margin-right: 10px;

        @include mobile {
          margin-right: 25px;
        }
      }

      &__text {
        font-weight: 300;
        font-size: 16px;
        margin: 0;

        @include mobile {
          font-size: 14px;
        }
      }
    }
  }

  .contact {
    padding: 20px 0 0 0;
    background: #F2F2F2;

    @include mobile {
      background: none;
    }

    &__col {

      &:first-child {
        @include mobile {
          padding: 30px 30px 46px 30px;
        }
      }

      &:last-child {
        @include mobile {
          padding: 0;
        }
      }
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 27px;
      margin-top: 0;
      @include mobile {
        margin-bottom: 9px;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 14px;

      &--first {
        margin-bottom: 74px;
        @include mobile {
          margin-bottom: 23px;
        }
      }
    }

    &__map {
      border: 0;
      width: 100%;
      height: 430px;

      @include mobile {
        height: 260px;
      }
    }
  }
}
