<section class="crypt">
  <div class="container">
    <h2 class="title">
      <span>CONOCE</span>
      <span>NUESTRA CRIPTA</span>
    </h2>
  </div>
  <img class="crypt__cover" src="assets/images/crypt-banner.png" alt="">
  <h2 class="crypt__description crypt__description--text">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          Es un espacio subterráneo único en Latinoamérica, creado con un elegante juego de texturas. <br> Su diseño está
          basado en arcos que brindan la calidez y comodidad que merece un lugar exclusivo pensado en el descanso
          eterno.
        </div>
      </div>
    </div>
  </h2>

</section>

<section class="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2 class="services__title">Servicio Incluido</h2>
        <div class="row">
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                Misa en la capilla ecuménica realizada por un sacerdote
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                02 descensores
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                6 balaustres
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                1 caballete
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                Instalación de la lápida grabada el mismo día
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                Ceremonia de inhumación para el primer fallecido o libre elección del contratante.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                Exoneración de pagos en caso de fallecimiento del Contratante Titular.              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-4">
            <div class="service">
              <img src="/assets/images/icon-check.svg" alt="" class="service__icon">
              <p class="service__text">
                Certificado de sesion de uso a perpetuidad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-lg-6 contact__col">
        <h5 class="contact__title">Encuéntranos en</h5>
        <p class="contact__text  contact__text--first">Av. Huachipa s/n (cruce con Av. Los Robles), Ramiro Prialé km
          8.5, Lurigancho.</p>
        <h5 class="contact__title">Teléfonos</h5>
        <p class="contact__text"> (01) 371 0653</p>
      </div>
      <div class="col-md-8 col-lg-6 contact__col">
        <iframe
          class="contact__map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15558.7519075115!2d-72.6928863!3d-12.8634186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x663cc0431efb1e10!2sAltokaf%C3%A9%20Quillabamba!5e0!3m2!1ses!2spe!4v1633318794138!5m2!1ses!2spe"
          allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
