<section class="contactRequest">
  <div class="container">
    <h2>NOSOTROS</h2>
  </div>
  <img class="contactRequest__cover" src="assets/images/about-us.png" alt="">
    <h2 class="contactRequest__subtitle contactRequest__subtitle--mision">MISION</h2>
  <div class="container contactRequest-container">
    <p class="contactRequest__text">Somos un equipo multinacional que trabaja para avanzar constantemente en el servicio y desarrollar la mejor relación con nuestros clientes , distribuidores, proveedores, accionistas y sociedad.</p>
    <h2 class="contactRequest__subtitle">VISION</h2>
    <p class="contactRequest__text">MAPFRE quiere ser la aseguradora global de confianza.</p>
    <h2 class="contactRequest__subtitle">VALORES</h2>
    <ul class="row contactRequest__values">
      <li class="col-lg-4 contactRequest__text contactRequest__text--list">Solvencia</li>
      <li class="col-lg-4 contactRequest__text contactRequest__text--list">Integridad</li>
      <li class="col-lg-4 contactRequest__text contactRequest__text--list">Vocación de servicio</li>
      <li class="col-lg-4 contactRequest__text contactRequest__text--list">Innovación para el liderazgo</li>
      <li class="col-lg-4 contactRequest__text contactRequest__text--list">Equipo comprometido</li>
    </ul>
    <h2 class="contactRequest__subtitle">Trabaja con nosotros</h2>
    <p class="contactRequest__text">Somos un equipo multinacional que trabaja para avanzar constantemente en el servicio y desarrollar la mejor relación con nuestros clientes , distribuidores, proveedores, accionistas y sociedad.</p>
    <a href="#" class="contactRequest__button">
      Más información
    </a>
  </div>
</section>

