@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

.contactRequest{

  &-container {
    text-align: center;
  }

  &__subtitle {
    margin: 35px 0;
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 700;
    &--mision {
      background: #F4F5F6;
      padding: 35px 0;
      margin: 0;
      text-align: center;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    color: #4F4F4F;
    &--list {
      text-align: left;
      margin-bottom: 30px;
      &::marker {
        margin: 0 .5rem 0 0;
        color: #D22D2D;
      }
    }
  }

  &__values {
    list-style-position: inside;
  }

  &__button {
    display: inline-block;
    width: 230px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    border: 1px solid #D22D2D;
    background: #D22D2D;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
    text-decoration: none;
    margin: 53px 0 190px 0;
    &:hover {
      background:  #fff;
      color:#D22D2D;
    }
  }

  mat-icon{
    padding: rem(9px) rem(9px);
    border-radius: 40px;
    &.message {
      width: 66px;
      height: 66px;
      font-size: rem(50px);
      @include mobile { width: 48px; height: 48px; font-size: rem(33px); }
    }
  }

  &__cover {
    display: block;
    width: 100%;
    height: auto;
  }
}
