<section class="funerary">
  <div class="container">
    <h2 class="title">
      <span>SERVICIOS</span>
      <span>FUNERARIOS</span>
    </h2>
  </div>
  <img class="funerary__cover" src="assets/images/funerary-banner.png" alt="">
  <h2 class="funerary__description funerary__description--text">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          Contamos con dos de las más prestigiosas funerarias de todo el Perú.
        </div>
      </div>
    </div>
  </h2>
</section>

<section class="logos">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 offset-0 offset-md-1">
        <a href="#" class="logos__link">
          <img src="/assets/images/logo-agustinMerino.png" alt="">
        </a>
      </div>
      <div class="col-12 col-lg-4 offset-0 offset-md-1">
        <a href="#" class="logos__link">
          <img src="/assets/images/logo-finisterre.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
