<section class="funerary">
  <div class="container">
    <h2 class="title">
      <span>CONTÁCTANOS</span>
    </h2>
  </div>
  <img class="funerary__cover" src="assets/images/contact-banner.png" alt="">
</section>




