@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  .title {
    span {
      display: block;

      &:first-child {
        font-weight: 500;
        font-size: 30px;
      }

    }
  }

  .funerary {
    &-container {
      text-align: center;
    }

    &__description {
      margin: 35px 0;
      font-size: 14px;
      color: #4F4F4F;
      font-weight: 300;

      &--text {
        background: #F4F5F6;
        padding: 35px 0;
        margin: 0;
        text-align: center;
        line-height: 2.5;
      }
    }

    &__cover {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .logos {
    padding: 121px 0;

    &__link {
      display: block;

      @include mobile {
        margin-bottom: 110px;
      }

      img {
        display: block;
        height: 80px;

        @include mobile {
          margin: 0 auto;
        }
      }
    }
  }
}
