@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  .carrusel {
    position: relative;

    &__arrow {
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      background: #fff;
      color: #111;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &--left {
        left: 15px;
      }

      &--right {
        right: 15px;
      }
    }

    &__item {
      position: relative;
      width: 100%;

      &__image {
        display: block;
        width: 100%;
        height: auto;
        @include mobile {
          //transform: rotate(1.23deg);
          //width: 811px;
          //height: 311px;
        }
      }

      &__text {
        position: absolute;
        display: block;
        bottom: 40px;
        left: 165px;
        padding: 15px;
        color: #fff;
        font-size: 35px;
        font-weight: 300;
      }
    }
  }

  .servicios {
    margin: 50px;

    &__title {
      font-size: 25px;
      font-weight: 300;
      color: #828282;
      line-height: 35px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 700;
    }

    &__card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 40px;

      &__image {
        display: block;
        width: 100%;
        height: auto;
      }

      &__button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        border-radius: 10px;
        padding: 15px 20px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border: 1px solid #fff;
        cursor: pointer;
      }
    }
  }

  .cemeteries {
    margin-bottom: 50px;

    &__title {
      @extend .servicios__title;
    }

    &__subtitle {
      @extend .servicios__subtitle;
    }

    &__slider {
      overflow-x: hidden;
      display: flex;

      &__item {
        margin-right: 15px;

        .cemetery {
          width: 156px;
          height: 285px;
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          background: pink;

          &__image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__text {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 32px 30px 32px;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  .information {
    padding: 50px 0;
    background-color: #F4F5F6;

    .information__card {
      box-shadow: 0 8px 16px 0 rgba(#000, .05);

      &__image {
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 130px;
        object-fit: cover;
      }

      &__body {
        background: #fff;
        border-radius: 0 0 10px 10px;
        padding: 20px 30px;
      }

      &__title {
        font-weight: 400;
        font-size: 20px;
        color: #828282;
        margin: 0 0 5px 0;
      }

      &__text {
        font-size: 14px;
        font-weight: 300;
        color: #828282;
        margin: 0;
      }

      &__button {
        background: #fff;
        color: #828282;
        border: 1px solid #828282;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: #fff;
          background: #D22D2D;
          border-color: #D22D2D;
        }
      }
    }
  }

  .float-actions {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 0 40px 20px 0;
    text-align: right;

    @include mobile {
      padding-right: 20px;
    }

    &__button {
      display: inline-block;
      margin-bottom: 10px;
      border: 1px solid #D22D2D;
      background: #fff;
      border-radius: 30px;
      line-height: 50px;
      padding: 0 30px;
      color: #D22D2D;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms;
      box-shadow: 0 4px 5px 0 rgba(#D22D2D, .2);

      @include mobile {
        display: flex;
        height: 70px;
        width: 70px;
        padding: 0;
        align-items: center;
        justify-content: center;
        line-height: normal;
        border-radius: 50%;
      }

      &__text {
        @include mobile {
          display: none;
        }
      }

      &__icon {
        display: none;
        height: 32px;
        width: auto;

        @include mobile {
          display: block;
        }
      }

      &--fill {
        background: #D22D2D;
        color: #fff;
      }

      //&:hover {
      //  text-decoration: none;
      //  background: #D22D2D;
      //  color: #fff;
      //}

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .banner {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include mobile {
      height: 240px;
      align-items: flex-start;
    }

    &__body {
      color: #fff;
      text-align: center;

      @include mobile {
        padding: 28px 40px;
        text-align: left;
      }

      * {
        margin: 0;
      }

      h3 {
        font-size: 35px;
        font-weight: 400;
      }

      p {
        font-size: 25px;
        font-weight: 400;
      }
    }
  }
}
