<section class="carrusel">
  <div class="carrusel__item">
    <img class="carrusel__item__image" src="/assets/images/slider-home.png" alt="">
<!--    <div class="carrusel__item__text">-->
<!--      El lugar donde viven los recuerdos más hermosos-->
<!--    </div>-->
  </div>
  <button class="carrusel__arrow carrusel__arrow--left"><</button>
  <button class="carrusel__arrow carrusel__arrow--right">></button>
</section>

<section class="servicios">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <h3 class="servicios__title">En nuestros camposantos MAPFRE puedes elegir el tipo de sepultura que desees:</h3>
        <h5 class="servicios__subtitle">Seleccione uno para conocerlo</h5>
      </div>
      <div class="col-lg-4">
        <div class="servicios__card">
          <img src="/assets/images/sapultura-home.png" alt="" class="servicios__card__image">
          <button class="servicios__card__button">Sepultura</button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="servicios__card">
          <img src="/assets/images/sapultura-home.png" alt="" class="servicios__card__image">
          <button class="servicios__card__button">Consultar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cemeteries">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="cemeteries__title">Visita <br> nuestros camposantos</h3>
        <h5 class="cemeteries__subtitle">Seleccione uno para conocerlo</h5>
      </div>
      <div class="col-lg-8">
        <div class="cemeteries__slider">
          <div class="cemeteries__slider__item">
            <div class="cemetery">
              <img class="cemetery__image" src="/assets/images/cemetery-home-test.png" alt="">
              <div class="cemetery__text">HUACHIPA</div>
            </div>
          </div>
          <div class="cemeteries__slider__item">
            <div class="cemetery">
              <img class="cemetery__image" src="/assets/images/cemetery-home-test.png" alt="">
              <div class="cemetery__text">HUACHIPA</div>
            </div>
          </div>
          <div class="cemeteries__slider__item">
            <div class="cemetery">
              <img class="cemetery__image" src="/assets/images/cemetery-home-test.png" alt="">
              <div class="cemetery__text">HUACHIPA</div>
            </div>
          </div>
          <div class="cemeteries__slider__item">
            <div class="cemetery">
              <img class="cemetery__image" src="/assets/images/cemetery-home-test.png" alt="">
              <div class="cemetery__text">HUACHIPA</div>
            </div>
          </div>
          <div class="cemeteries__slider__item">
            <div class="cemetery">
              <img class="cemetery__image" src="/assets/images/cemetery-home-test.png" alt="">
              <div class="cemetery__text">HUACHIPA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="information">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="information__card">
          <img src="/assets/images/card-image-home.png" alt="" class="information__card__image">
          <div class="information__card__body">
            <h3 class="information__card__title">Tour virtual Huachipa</h3>
            <div class="row align-items-end">
              <p class="col-lg-7 information__card__text">Conoce desde adentro nuestro camposanto Huachipa</p>
              <div class="col-lg-5">
                <button class="information__card__button">
                  Ver más
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="information__card">
          <img src="/assets/images/card-image-home.png" alt="" class="information__card__image">
          <div class="information__card__body">
            <h3 class="information__card__title">Sepelio Integral</h3>
            <div class="row align-items-end">
              <p class="col-lg-7 information__card__text">Podrás garantizar el servicio funerario para ti y tu familia.</p>
              <div class="col-lg-5">
                <button class="information__card__button">
                  Ver más
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="information__card">
          <img src="/assets/images/card-image-home.png" alt="" class="information__card__image">
          <div class="information__card__body">
            <h3 class="information__card__title">Conoce nuestros espacios</h3>
            <div class="row align-items-end">
              <p class="col-lg-7 information__card__text">Espacio destinado a la sepultación de tus seres queridos.</p>
              <div class="col-lg-5">
                <button class="information__card__button">
                  Ver más
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner" style="background-image: url('/assets/images/home-banner-down.png')">
    <div class="banner__body">
      <h3>Nuestra cripta Camposanto</h3>
      <p>En Huachipa</p>
    </div>
</section>

<div class="float-actions">
  <a href="#" class="float-actions__button">
    <span class="float-actions__button__text">Contáctanos</span>
    <img class="float-actions__button__icon" src="/assets/images/button-user.svg" alt="">
  </a>
  <div class="w-100"></div>
  <button class="float-actions__button float-actions__button--fill">
    <span class="float-actions__button__text">Tengo una emergencia</span>
    <img class="float-actions__button__icon" src="/assets/images/button-calling.svg" alt="">
  </button>
</div>
