@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {

  .title {
    span {
      display: block;

      &:first-child {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 8px;
      }

      &:last-child {
        font-weight: 500;
        font-size: 30px;
      }
    }
  }

  .faq{

    &-container {
      text-align: center;
    }

    &__description {
      margin: 35px 0;
      font-size: 14px;
      color: #4F4F4F;
      font-weight: 300;
      &--text {
        background: #F4F5F6;
        padding: 35px 0;
        margin: 0;
        text-align: center;
        line-height: 2.5;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      color: #4F4F4F;
      &--list {
        text-align: left;
        margin-bottom: 30px;
        &::marker {
          margin: 0 .5rem 0 0;
          color: #D22D2D;
        }
      }
    }

    &__values {
      list-style-position: inside;
    }

    &__button {
      display: inline-block;
      width: 230px;
      height: 50px;
      line-height: 50px;
      border-radius: 40px;
      border: 1px solid #D22D2D;
      background: #D22D2D;
      color: #fff;
      transition: all .5s;
      cursor: pointer;
      text-decoration: none;
      margin: 53px 0 190px 0;
      &:hover {
        background:  #fff;
        color:#D22D2D;
      }
    }

    mat-icon{
      padding: rem(9px) rem(9px);
      border-radius: 40px;
      &.message {
        width: 66px;
        height: 66px;
        font-size: rem(50px);
        @include mobile { width: 48px; height: 48px; font-size: rem(33px); }
      }
    }

    &__cover {
      display: block;
      width: 100%;
      height: auto;
    }


  }

  #faq {
    padding: rem(60px) 0;
    .faq-title {
      font-size: rem(28px);
      font-weight: 400;
    }

    .mat-accordion {
      .mat-expansion-panel {
        &:first-of-type {
          border-top-right-radius: rem(14px);
          border-top-left-radius: rem(14px);
        }
        &:last-of-type {
          border-bottom-right-radius: rem(14px);
          border-bottom-left-radius: rem(14px);
        }
      }
    }

    .mat-expansion-panel-spacing {margin: 0;}
    .mat-expansion-panel {border-radius: 0;}

    .faq-panel-title {
      //background: $color-second;
      .header {
        color: $color-white;
      }
    }

    .faq-link {
      color: #D22D2D;
      text-decoration: none;
    }

    .mat-expansion-panel-header-title h2 {
      color: #4F4F4F;
      font-weight: 400;
      font-size: 20px;
      @include mobile {
        font-size: 16px;
        line-height: 1;
        margin: 0;
      }
    }
  }


}
