<section class="faq">
  <div class="container">
    <h2 class="title">
      <span>PREGUNTAS</span>
      <span>FRECUENTES</span>
    </h2>
  </div>
  <img class="faq__cover" src="assets/images/faq-image.png" alt="">
</section>

<section id="faq" class="container mt-5">
  <mat-accordion class="accordion-header-align">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>¿Cuál es la ubicación de cada Camposanto?</h2></mat-panel-title>
      </mat-expansion-panel-header>

      <p class="fz-18">Este seguro cuida del asegurado y su familia en caso de alguna situación inesperada. Para el empleador, este seguro se maneja como una sola póliza de grupo, dándote las facilidades de realizar declaraciones mensuales nominativas de tus trabajadores y la generación de recibos de primas a pagar en nuestra web.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>¿A qué numero me puedo contactar para contratar los servicios adicionales ofrecidos en el camposanto?</h2></mat-panel-title>
      </mat-expansion-panel-header>

      <p class="fz-18">Para mayor información sobre los Servicios Adicionales, contactarse con la Sra. Sonia Campos al numero 358-9623.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>¿Cuáles son los horarios y los paraderos de las movilidades de los fines de semana?</h2></mat-panel-title>
      </mat-expansion-panel-header>

      <p class="fz-18">Este seguro cuida del asegurado y su familia en caso de alguna situación inesperada. Para el empleador, este seguro se maneja como una sola póliza de grupo, dándote las facilidades de realizar declaraciones mensuales nominativas de tus trabajadores y la generación de recibos de primas a pagar en nuestra web.</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>

