@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  header {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(#000, .3);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      &-virus {
        background-color: #F2F2F2;
        min-height: 40px;
        text-align: center;
        font-size: 12px;
        color: #4F4F4F;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
          background: #D22D2D;
          color: #fff;

        }

        &__close {
          margin-left: 15px;
          height: 24px;
          width: 24px;
          //border: 1px solid #000;
          //border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background: transparent;
          border: none;
        }
      }

      &__logo {
        display: inline-block;
        height: 30px;
      }

      &__navbar {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__contact {
        display: flex;
        align-items: center;
        justify-content: center ;
        > * {
          margin-right: 10px;
        }
      }
      &__menu {
        display: flex;
        align-items: center;
        justify-content: center ;
      }

      &__link2 {
        &--client {
          width: 120px;
          height: 40px;
          border-radius: 40px;
          text-decoration: underline;
          border: 1px solid #D22D2D;
          background: #fff;
          color: #D22D2D;
          transition: all .5s;
          cursor: pointer;
          &:hover {
            background: #D22D2D;
            color: #fff;
          }
        }
      }
    }
  }
}
