<header #header id="header">
  <div class="container">
    <div class="header">
      <a href="#" class="header__logo">
        <img src="assets/images/camposantos-logo.svg" alt="">
      </a>
      <div class="header__navbar">
        <nav *ngIf="dataService.isDesktop" class="header__menu">
          <button mat-button [matMenuTriggerFor]="belowMenu">CAMPOSANTOS
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="belowMenu">PRODUCTOS Y SERVICIOS
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="belowMenu">QUIÉNES SOMOS
            <mat-icon >keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </nav>
        <nav class="header__contact">
          <button *ngIf="!dataService.isMobile" class="header__link2 header__link2--client">
            Soy Cliente
          </button>
          <span class="header__link2 header__link2--phone">999 999 999</span>
          <a href="#" class="header__link2 header__link2--whatsapp">
            <img src="assets/images/whatsapp-logo.svg" alt="">
          </a>
        </nav>
      </div>

    </div>
  </div>
  <div class="header-virus">
    <span><a (click)="openNoticeModal()">Visitas y programaciones suspendidas hasta nuevo aviso. Conoce nuestras medidas COVID-19 aquí</a></span>
    <button *ngIf="dataService.isDesktop" class="header-virus__close" >
      <mat-icon aria-label="Close">highlight_off</mat-icon>
    </button>
  </div>
</header>
