:host {
  .modal {
    &__header {
      padding-bottom: 24px;
      position: relative;
      //background: pink;
      box-shadow: 0 5px 20px 0 rgba(#DADADA, .3);

      &__title {
        margin: 0;
        text-align: center;
      }
    }

    &__close {
      height: 25px;
      width: 25px;
      padding: 0;
      position: absolute;
      right: 50px;
      top: 0;
      background: transparent;
      border: none;
    }

    &__body {
      padding: 21px 45px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;

      ul {
        padding: 0;
        li {
          &::marker {
            color: #D22D2D;
            font-size: 16px;
          }
        }
      }
    }

    &__message {
      text-align: center;
      font-weight: 500;
      margin: 26px 0;
      span {
        display: block;
        &:last-child {
          color: #D22D2D;
        }
      }
    }

    &__button {
      &-container {
        text-align: center;
      }

      display: inline-block;
      margin-bottom: 10px;
      border: 1px solid #D22D2D;
      border-radius: 30px;
      line-height: 50px;
      padding: 0 30px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms;
      box-shadow: 0 4px 5px 0 rgba(#D22D2D, .2);
      background: #D22D2D;
      color: #fff;
      width: 200px;
    }
  }
}
