<div class="modal">
  <div class="modal__header">
    <h5 class="modal__header__title">Aviso importante sobre nuestros camposantos MAPFRE</h5>
    <button class="modal__close">
      <mat-icon aria-label="Close" (click)="onClose()">highlight_off</mat-icon>
    </button>
  </div>
  <div class="modal__body">
    <p>
      En cumplimiento de las últimas disposiciones emitidas por el Gobierno y las entidades de salud para preservar el
      bienestar de las personas en el contexto de la pandemia por el COVID-19, hemos tomado las siguientes medidas en
      nuestros camposantos:</p>

    <ul>
      <li>
        <p><strong>Las visitas:</strong> Las visitas: Se suspenden las visitas para todos los Camposantos a partir del
          sábado 30 de enero y solo se
          atenderán aquellas que estén agendadas a la fecha.</p>
        <p>
          Tampoco se brindarán RESPONSOS en los servicios de
          cremaciones y sepultura en ninguno de nuestros camposantos a partir del viernes 29 de enero
        </p>

      </li>
      <li>
        <p>
          <strong>Comitivas para servicios:</strong> Se limitará la cantidad de personas que pueden asistir a los
          servicios NO COVID:
        </p>
      </li>

      <li class="mb-0">
        <p>
          <strong>Cremación:</strong> Solo 5 personas.
        </p>
      </li>
      <li>
        <p>
          <strong>Sepultura:</strong> Solo 10 personas.
        </p>
      </li>

    </ul>
    <p>
      Para los casos COVID, se mantendrá la normativa del MINSA: 5 personas por sepultura
      y 2 por cremación, y en ambos casos, los velorios no están permitidos. Le recordamos que nuestros servicios
      funerarios pueden ser solicitados y coordinarlos sin salir de casa, a través de nuestro WhatsApp y nuestra central
      telefónica.
    </p>
    <p class="modal__message">
      <span>Te proteges tú, nos protegemos todos.</span>
      <span>#EnMAPFREMásUnidosQueNunca</span>
    </p>
    <div class="modal__button-container">
      <button class="modal__button">Aceptar</button>
    </div>
  </div>
</div>
