<section class="carrusel">
  <div class="carrusel__item">
    <img class="carrusel__item__image" src="/assets/images/camposanto-huachipa.png" alt="">
    <a href="#" class="carrusel__item__button">
      Tour virtual
    </a>
  </div>
  <button class="carrusel__arrow carrusel__arrow--left"><</button>
  <button class="carrusel__arrow carrusel__arrow--right">></button>
</section>

<section class="services">
  <div class="container">

    <h2 class="services__title">Servicios</h2>
    <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, sunt.</p>

    <div class="services__row">
      <div class="service">
        <img src="/assets/images/galeria-huachipa.png" alt="" class="service__image">
        <h3 class="service__title">Servicio religioso en capilla ecuménica</h3>
      </div>
      <div class="service">
        <img src="/assets/images/galeria-huachipa.png" alt="" class="service__image">
        <h3 class="service__title">Servicio religioso en capilla ecuménica</h3>
      </div>
      <div class="service">
        <img src="/assets/images/galeria-huachipa.png" alt="" class="service__image">
        <h3 class="service__title">Servicio religioso en capilla ecuménica</h3>
      </div>
      <div class="service">
        <img src="/assets/images/galeria-huachipa.png" alt="" class="service__image">
        <h3 class="service__title">Servicio religioso en capilla ecuménica</h3>
      </div>
    </div>
  </div>
</section>

<section class="plus">
  <div class="container">
    <h2 class="plus__title">
      Servicios Adicionales
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
          <div class="col-lg-3">
            <img src="/assets/images/plus-cafeteria2.svg" alt="" class="plus__icon">
            <p class="plus__text">Cafetería</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-lg-6 contact__col">
        <h5 class="contact__title">Encuentranos</h5>
        <p class="contact__text  contact__text--first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, unde.</p>
        <h5 class="contact__title">Encuentranos</h5>
        <p class="contact__text">+51 123 456 789</p>
      </div>
      <div class="col-md-8 col-lg-6 contact__col">
        <iframe
          class="contact__map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15558.7519075115!2d-72.6928863!3d-12.8634186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x663cc0431efb1e10!2sAltokaf%C3%A9%20Quillabamba!5e0!3m2!1ses!2spe!4v1633318794138!5m2!1ses!2spe"
          allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
