@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

:host {
  .carrusel {
    position: relative;

    &__arrow {
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      background: #fff;
      color: #111;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &--left {
        left: 15px;
      }

      &--right {
        right: 15px;
      }
    }

    &__item {
      position: relative;
      width: 100%;

      &__image {
        display: block;
        width: 100%;
        height: auto;
      }

      &__button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        background: #D22D2D;
        border-radius: 40px;
        width: 120px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        line-height: 40px;
      }
    }
  }

  .services {
    padding: 40px;
    &__title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 5px;
      text-align: center;
    }

    &__text {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 10px;
      margin-top: 0;
      text-align: center;
    }

    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .service {
      width: 160px;
      margin-left: 50px;

      &:first-child {
        margin-left: 0;
      }

      &__image {
        display: block;
        height: auto;
        margin: 0 auto 11px auto;
        max-width: 100%;
      }

      &__title {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: 0;
      }
    }
  }

  .plus {
    padding: 40px 0;
    &__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 40px;
      text-align: center;
    }

    &__icon {
      display: block;
      margin: 0 auto 13px auto;
      max-width: 100%;
    }

    &__text {
      font-size: 16px;
      font-weight: 300;
      margin: 0 0 60px 0;
      text-align: center;
    }
  }

  .contact {
    padding: 20px 0 0 0;
    background: #F2F2F2;

    @include mobile {
      background: none;
    }

    &__col {

      &:first-child {
        @include mobile {
          padding: 30px 30px 46px 30px;
        }
      }

      &:last-child {
        @include mobile {
          padding: 0;
        }
      }
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 27px;
      margin-top: 0;
      @include mobile {
        margin-bottom: 9px;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 14px;

      &--first {
        margin-bottom: 74px;
        @include mobile {
          margin-bottom: 23px;
        }
      }
    }


    &__map {
      border: 0;
      width: 100%;
      height: 430px;

      @include mobile {
        height: 260px;
      }
    }
  }

}
